@import "../../../../core/core.variables.scss";

:host {
  margin: 15px 0;

  .note-input-container {
    display: flex;
    flex-direction: column;
  }

  .note-input {
    border: 1px solid $light-gray;
    box-shadow: none;
    font-size: 13px;
    font-weight: $regular;
    letter-spacing: 1px;
    outline: 0;
    padding: 10px;
    transition: border .3s ease-in-out;

    &::placeholder {
      color: rgba($gray, 0.8);
    }
  }
}