<div class="error-404">
  <div class="head ng-animate">
    <span class="eyes ng-animate"></span>
    <span class="eyes ng-animate"></span>
  </div>
  <span class="error-number">404</span>
  <span class="error-message">Page not found</span>
  <span class="error-alerts ng-animate"></span>
</div>