@import "../../core/core.variables.scss";

:host {
  .app-header {
    align-items: center;
    background-color: $blue;
    box-sizing: unset;
    color: $white;
    display: flex;
    flex-flow: row nowrap;
    flex-wrap: wrap;
    font-weight: $semi-bold;
    justify-content: space-between;
    padding: .5rem 1rem;
    position: relative;

    .app-header-item {
      color: $white;
      text-decoration: none;
      margin-right: 1rem;

      &:hover {
        color: $gray;
      }
    }

    .navbar-brand {
      margin-right: 3rem;
    }

    .navbar-toggler {
      background-color: transparent;
      border: none;
      font-size: 1.25rem;
      line-height: 1;
      margin-right: 5px;
      padding: .25rem .75rem;
    }
  }
}