<div class="home-container">
  <div class="home-project">
    <img src="/assets/angular-sandbox-project-icon.svg" class="home-project-icon" title="angular sandbox project icon" />
    <div class="home-project-title">Angular Sandbox Project</div>
  </div>
  <p class="home-explain">
    This project is an Angular sandbox application. Base on the last version of Angular (Angular Core 8.2).
    The first feature of this application will be the Todo List (sync with an API).
  </p>
  <p class="home-explain">
    This sample project has for main goal to :
  </p>
  <ul>
    <li>Evaluate candidate</li>
    <li>Improve angular skills of team dev</li>
    <li>Test and implements new bundles or features</li>
    <li>Be a basic starter angular project</li>
  </ul>
</div>