@import "./core.variables.scss";

.button {
  align-items: center;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  display: inline-flex;
  font-size: 13px;
  font-weight: 600;
  justify-content: center;
  letter-spacing: 1.5px;
  margin-top: 10px;
  overflow: hidden;
  padding: 12px 40px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:focus,
  &:active,
  &:active:focus {
    outline: none;
  }

  &.button-primary {
    background-color: $blue;
    color: $white;

    &:hover {
      background-color: $dark-blue;
    }
  }

  &.button-secondary {
    background-color: transparent;
    border: 1px solid $blue;
    color: $blue;
    padding: 11px 39px;

    &:hover {
      border: 1px solid $dark-blue;
      color: $dark-blue;
    }
  }
}